[Unit]
Description=Service Discovery
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=notify
User={{ vault_service }}
Group={{ vault_service }}
ExecStart={{ vault_install_path }} server -config {{ vault_config_file }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
KillSignal=SIGINT
LimitNOFILE=8192
LimitCORE=0

ProtectSystem=full
PrivateTmp=yes
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
AmbientCapabilities=CAP_IPC_LOCK
ProtectHome=read-only
PrivateDevices=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
