{
  "default-address-pools": [
    {
      "base": "{{ docker_address_space_base }}",
      "size": 24
    }
  ],
  "dns": [ "{{ docker_systemd_resolved_address }}" ],
  "storage-driver": "overlay2",
  "log-driver": "json-file",
  "log-opts": {
      "max-size": "10m",
      "max-file": "3"
  }
}
