[Unit]
Description=Service Discovery
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
User={{consul_service}}
Group={{consul_service}}
ExecStart={{consul_install_path}} agent -config-dir {{consul_config_dir}}
# Consul does not expose a function for synchronous reloading, as of 31/08/2017
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
KillSignal=SIGINT
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
