vault {
  address = "https://{{ vault_agent_vault_host }}:8200"
  ca_cert = "{{ vault_agent_config_dir }}/ca.pem"
}

auto_auth {
  method {
    type = "approle"

    config = {
      role_id_file_path = "{{ vault_agent_config_dir }}/role_id"
    }
  }

  sink {
    type = "file"
    config = {
      path = "{{ vault_agent_config_dir }}/token"
    }
  }
}

{% for item in vault_agent_keygen_list %}
template {
contents = "{{ "{{" }} with secret `pki/issue/{{ item.pki_role }}` `common_name={{ item.common_name }}` `alt_names={{ item.alt_names | join(',') }}` `ip_sans={{ item.ip_sans | join(',') }}` `ttl=1d` {{ "}}{{ .Data.certificate }}{{ end }}" }}"
  destination = "{{ vault_agent_shared_dir }}/{{ item.group }}/{{ item.common_name }}.crt"
}
template {
  contents = "{{ "{{" }} with secret `pki/issue/{{ item.pki_role }}` `common_name={{ item.common_name }}` `alt_names={{ item.alt_names | join(',') }}` `ip_sans={{ item.ip_sans | join(',') }}` `ttl=1d` {{ "}}{{ .Data.private_key }}{{ end }}" }}"
  destination = "{{ vault_agent_shared_dir }}/{{ item.group }}/{{ item.common_name }}.key"
{% if item.exec is defined %}
  exec = {
    command = {{ item.exec | to_yaml(default_style='"', default_flow_style=true) }}
  }
{% endif %}
}
template {
  contents = "{{ "{{" }} with secret `pki/issue/{{ item.pki_role }}` `common_name={{ item.common_name }}` `alt_names={{ item.alt_names | join(',') }}` `ip_sans={{ item.ip_sans | join(',') }}` `ttl=1d` {{ "}}{{ .Data.issuing_ca }}{{ end }}" }}"
  destination = "{{ vault_agent_shared_dir }}/{{ item.group }}/ca.crt"
}
{% endfor %}
{% for item in vault_agent_templates %}
template {
  destination = "{{ vault_agent_shared_dir }}/{{ item.group }}/{{ item.filename }}"
  contents =<<EOF
{{ item.contents }}
  EOF
}
{% endfor %}
