[Unit]
Description=Secrets Agent
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=notify
User=root
Group=root
ExecStart={{ vault_install_path }} agent -config {{ vault_agent_config_dir }}/config.hcl
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
KillSignal=SIGINT
LimitNOFILE=8192
LimitCORE=0

[Install]
WantedBy=multi-user.target
