- hosts: llm
  become: true
  vars:
    nomad_version: "1.10.5"
    consul_version: "1.21.4"
    vault_version: "1.20.2"
  vars_files:
  - "vars/consul_acl_tokens.yml"
  - "vars/consul_client.yml"
  - "vars/nomad_client.yml"
  - "vars/vault_agent_client.yml"
  roles:
  - role: docker
    tags: docker
  - role: consul
    tags: consul
  - role: nomad
    tags: nomad
  - role: vault/agent
    tags: vault-agent
  tasks:
  - name: Ensure llm packages are installed
    package:
      name:
      - ollama-rocm
      - amdgpu_top

  - name: Ensure llama.cpp-vulkan is installed
    shell:
      yay -S --noconfirm --needed \
      llama.cpp-vulkan

# TODO: jarvis is set with additional kernel options: ttm.pages_limit=27648000 ttm.page_pool_size=27648000
